<strong>Olá, {{ student }}. Seja bem vindo a nossa academia!</strong>
<p>Você se matriculou em um plano, confira os detalhes abaixo:</p>
<p>
  <strong>Plano: </strong>{{ title }} <br />
  <strong>Preço: </strong>R${{ price }}/mês <br />
  <strong>Data de Início: </strong>{{ date_start }} <br />
  <strong>Data de Término: </strong>{{ date_end }} <br />
  <br />
</p>
